<form action="/user/create" method="POST">
    <label for="name">name</label>
    <input type="text" name="name">
    <label for="email">email</label>
    <input type="email" name="email">
    <label for="department">department</label>
    <input type="text" name="department">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password">
    <label for="type">type</label>
    <input type="text" name="type">
    <button type="submit">Submit</button>
</form>