<form action="" method="POST">
    <label for="password">Password</label>
    <input type="password" name="password">

    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirm_password">
    <button type="submit">Submit</button>
</form>