<p>Verify your email address to complete the signup and login into your account.</p>
<p>This link will expire in 2 hours </p>
<a href = "<%= locals.base_url %>/user/verify?accessToken=<%= locals.accessToken %>">Click Here</a>