<p>We heard that you lost the password.</p>
<p>Do not worry, use the link below to reset it.</p>
<p>This link <b>expires in 1 hours</b></p>
<a href="<%= locals.base_url %>/user/password_reset?accessToken=<%= locals.accessToken %>">Click here</a>